<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Example</title>
    </head>
    <body>
        <h1 id="text"></h1>
        <script async>{{ js }}</script>
        <script async>
            const run = async () => {
                await wasm_bindgen('greet_bg.wasm');
                const { greet } = wasm_bindgen;
                const text = document.getElementById('text');
                text.innerHTML = greet('mei');
            }

            run();
        </script>
    </body>
</html>
